// https://github.com/Jazcash/collist
// needs to match heights with JS on IE9

.collist{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
	& > li{
		box-sizing: border-box;
		vertical-align: top;
	}
}

.no-flexbox .collist > li{
	display: inline-block;
	margin-right: -4px;
}

.collist{
	@for $n from 1 through 12{
		&.row-#{$n} > li{
			width: calc((100% - (#{$gutter} * (#{$n} - 1))) / #{$n});
			&:nth-child(#{$n}n + 1){
				margin-left: 0;
			}
			&:nth-child(-n+#{$n}){
				margin-top: 0;
			}
			&:not(:nth-child(-n+#{$n})){
				margin-top: $gutter;
			}
			&:not(:nth-child(#{$n}n + 1)){
				margin-left: $gutter;
			}
		}
		@each $key, $val in $breakpoints{
			&.#{$key}-row-#{$n} > li{
				@include above($val){
					width: calc((100% - (#{$gutter} * (#{$n} - 1))) / #{$n});
					&:nth-child(#{$n}n + 1){
						margin-left: 0;
					}
					&:nth-child(-n+#{$n}){
						margin-top: 0;
					}
					&:not(:nth-child(-n+#{$n})){
						margin-top: $gutter;
					}
					&:not(:nth-child(#{$n}n + 1)){
						margin-left: $gutter;
					}
				}
			}
		}
	}
}
