:not(.no-flexbox){
	.flex{
		&-row{
			display: flex;
			flex-direction: row;
		}
		&-col{
			display: flex;
			flex-direction: column;
		}
		&-left{
			margin-right: auto;
		}
		&-right{
			margin-left: auto;
		}
		&-wrap{
			flex-wrap: wrap;
		}
		&-nowrap{
			flex-wrap: nowrap;
		}
		&-grow{
			flex-grow: 1;
		}
		&-shrink{
			flex-shrink: 1;
		}
		&-basis{
			flex-basis: 100%;
		}
		&-center-children-h{
			justify-content: center;
		}
		&-center-children-v{
			align-items: center;
		}
		&-center-children{
			justify-content: center;
			align-items: center;
		}
		&-center-self-h{
			margin: 0 auto;
		}
		&-center-self-v{
			align-self: center;
		}
		&-center-self{
			align-self: center;
			margin: 0 auto;
		}
		&-space-around{
			justify-content: space-around;
		}
		&-space-between{
			justify-content: space-between;
		}
	}
}
.no-flexbox{
	.flex{
		&-row{
			& > *{
				display: inline-block;
				margin-right: -4px;
			}
		}
		&-col, &-row{
			&:after{
				display: block;
				visibility: hidden;
				clear: both;
				height: 0;
				content: "";
			}
		}
		&-left{
			float: left;
			margin-right: initial;
		}
		&-right{
			float: right;
			margin-right: initial;
		}
		&-center-children-h{
			width: 100%;
			text-align: center;
		}
		&-center-children{
			width: 100%;
			text-align: center;
		}
		&-center-self-h{
			margin-left: 50%;
			transform: translateX(-50%);
		}
		&-center-self{
			margin-left: 50%;
			transform: translateX(-50%);
		}
	}
}
