section, .section{
    position: relative;
	&.unwrapped{
		margin: 0 -100%; /* old browsers fallback */
  		margin: 0 calc(50% - 50vw);
		padding-left: $wrapper-padding-width;
		padding-right: $wrapper-padding-width;
	}
    &.padded{
    	$xs: $spacer/2;
    	$counter: 1;
    	@each $prefix in ("xs", "sm", "md", "lg", "xl", "xxl"){
    		&-#{$prefix}{
    			padding: ($xs * $counter);
    		}
    		&-h-#{$prefix}{
    			padding-left: ($xs * $counter);
    			padding-right: ($xs * $counter);
    		}
    		&-v-#{$prefix}{
    			padding-top: ($xs * $counter);
    			padding-bottom: ($xs * $counter);
    		}
    		$counter: $counter + 1;
    	}
    }
}
