.accordion-list {
    /*border-bottom: 1px solid black;*/
    margin-bottom: 120px;
}

button.accordion {
    background-color: white;
    cursor: pointer;
    padding: 15px 0 10px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.2s;
    border-bottom: 1px solid lighten($grey, 30%);
    color: $grey;
    letter-spacing: -1px;
    border-radius: 0;
    font-weight: 400;
	@include font-size(16px, 20px);
}

button.accordion:hover {
    border-bottom: 1px solid $blue;
}

button.accordion.active {
    border-bottom: 1px solid white;
}

div.panel {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    opacity: 0;
    margin-bottom: 15px;

    /*@include below($sm) {
        padding: 0 30px;
    }*/
}

div.panel.show {
    opacity: 1;
    padding: 0 0 10px 0;
    max-height: 2000px;
    border-bottom: 1px solid lighten($grey, 30%);
    /*@include below($sm) {
        padding: 15px 30px;
    }*/
}

button.accordion:after {
    width: 25px;
    height: 25px;
    /*margin-top: 10px;*/
    background: url(/images/icon-accordion-open.png);
    content: ''; /* Unicode character for "plus" sign (+) */
    float: right;
}

button.accordion.active:after {
    background: url(/images/icon-accordion-close.png);
    background-repeat: no-repeat;
    background-position: center;
    content: ''; /* Unicode character for "minus" sign (-) */
}
