.aside-item {
    border: 1px solid $gold;
    background: white;
    margin-bottom: 20px;
}

.find-us {
    p, h4 {
        padding: 0 20px;
    }
    h4 {
        padding-top: 20px;
    }

    #map {
        height: 200px;
        width: 100%;
    }
}

.opening-times {
    padding: 20px;
    p {
        margin: 0;
    }
    div {
        margin: 0 0 4px 0;
        // border-bottom: 1px solid $grey;
        
        // &:last-child {
        //     border: 0;
        // }
    }
}

.contact-box {
    padding: 20px;
    
    .tel {
        margin-top: 15px;
        color: $gold;
        font-weight: 500;
    }
    p {
        margin: 0;
    }
}