.banner {
    /*background: red;*/
    padding: 60px 0 160px 0;
	background-image: none !important;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;

	@include below(md) {
		background-position: center center;
	}
	@include below(sm) {
		background: none;
	}
}
