.header-wrapper {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background: white;
}
header{
	display: flex;

	.logo {
		width: 290px;
		margin: 20px 0;

		@include below(md) {
			width: 500px;
		}
	}

	.right-items {
		margin-left: auto;

		.tel {
			color: $gold;
			font-weight: 500;
			font-size: 1.5em;
			margin-left: auto;
			margin-bottom: 15px;
		}

		nav.main-menu {

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				position: relative;

				ul {
					display: none;
					position: absolute;
					top: 49px;
					left: 0;
					background:#fff;
					padding: 0;
					box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);

					li {
						float:none;
						width: 255px;
						margin: 0;

						a {
							border: 0;
							display: block;
							padding: 10px;

							&:hover {
								border: 0;
								background: $gold;
								color: white;
							}
						}
					}
				}

				li:hover > ul {
					display: block;
				}

				li {
					display: inline-block;
					margin: 0 20px;
					position: relative;

					&:last-child {
						margin-right: 0;
					}

					a {
						padding-bottom: 20px;
						font-weight: 400;
						text-decoration: none;

						&:hover {
							border-bottom: 5px solid $gold;
						}
					}
				}
			}
		}
	}
}
