.service-list {
	margin-bottom: 60px;
    a {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 20px;
        margin-bottom: 20px;
        // width: 31.9%;
        border: 1px solid $gold;
        bottom: 0;
        position: relative;
        color: $grey;
        text-decoration: none;
        transition: .2s bottom, .2s box-shadow;

        &:hover {
            // border: 1px solid $blue;
            bottom: 2px;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        }

        background-repeat: no-repeat;
        background-position: bottom right;

        p {
            font-size: 16px;
            letter-spacing: -0.04em;
            margin-bottom: 0;
        }
    }
	li {
		background: white;
	}
    .gold {
        background: $gold;
    }

}
