a {
	color: $blue;
	&:link {
		// unvisited link
	}
	&:visited {
		// visited link
	}
	&:hover {
		color: lighten($blue, 10%);
	}
	&:active {
		// selected link
		color: darken($blue, 10%);
	}
	&:focus {
		// link with focus
	}
}

// style a link to look like button, link-button
.btn {
	display: inline-block;
	padding: 12px 20px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	color: $blue;
	border: 1px solid $blue;
	background: white;
	border-radius: 5px;
	letter-spacing: -0.5px;
	transition: .2s background, .2s color;
	@include font-size(14px, 16px);

	.fa-caret-right {
		margin-left: 10px;
	}
	&:hover, &:focus {
		cursor: pointer;
		color: white;
		background: $blue;
	}
	&:active {
		color: #000;
		background: darken($blue, 5%);
	}
	& > i {
		margin-right: 7px;
	}
}
