/* Headings */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	margin: 0 0 $spacer 0;
	font-family: "Rubik", Helvetica, sans-serif;
	font-weight: 400;
	color: $blue;
}
h1 {
	letter-spacing: -2px;
}
h1, h2, h3 {
	&:before {
		content: '';
		position: relative;
		display: block;
		/*margin-top: -10px;*/
		margin-bottom: 20px;
		width: 60px;
		height: 2px;
		background: $gold;
	}
}

h1,.h1{@include font-size(36px, 46px);}
h2,.h3{@include font-size(28px, 32px);}
h3,.h4{@include font-size(24px, 26px);}
h4,.h5{@include font-size(20px, 22px);}
h5,.h6{@include font-size(16px, 18px);}

/* Paragraph */
p{
	margin: 0 0 $spacer 0;
	font-family: "Rubik", sans-serif;
	line-height: 1.3em;
	@include font-size(18px, 20px);
	&.lead{
		@include font-size(16px, 20px);
	}
}

/* List item */
ul {
	padding-left: 20px;
}
li{
	@include font-size(16px, 20px);
}

/* Blockquote */
blockquote{
	padding: 0;
	margin: 0;
	margin-bottom: 100px;
	font-style: italic;
	@include font-size(16px, 20px);
	footer{
		margin-top: 20px;
		font-style: normal;
		font-size: 15px;
		border: 0;
		padding: 0;
	}
}

/* Code */
:not(pre) > code{
	background: #ddd;
	border: 1px solid rgba(#000, 0.2);
	border-radius: 2px;
	padding: 0 4px;
	font-size: 14px;
}

small{
	font-size: 60%;
}
