{{#extend "main"}}
	{{#content "body"}}
		<div class="banner" style="background-image: url(/images/banner-feet.png);">
			<div class="wrapped">
				<div class="row">
					<div class="col-12 sm-col-9 md-col-6">
						<h1>Get in touch with us</h1>
						<p>Phone or email our friendly team when you need an experienced foot specialist in Sheffield. You can book an appointment within 48 hours, and same day treatments may be available.</p>

					</div>
				</div>
			</div>
		</div>
		<div class="wrapped">
			<main role="main">
				<div class="row gutter">
					<div class="col-12 md-col-8">
						<div class="row gutter content-block">
							<div class="col-12 md-col-6">
								<h2>Address</h2>
								<p>Handsworth Chiropody Clinic, 51 Handsworth Road,<br />
									Handsworth,<br />
									Sheffield,<br />
									S9 4AA.</p>
							</div>
							<div class="col-12 md-col-6">
								<h2>Telephone</h2>
								<p>0114 243 6081</p>

								<h2>Email</h2>
								<p>lphackett@btinternet.com</p>
							</div>
						</div>
					</div>

					<aside class="col-12 md-col-4">
						{{>contact-box}}
						{{>opening-times}}
						{{>find-us}}
					</aside>

				</div>
			</main>
		</div>
	{{/content}}
{{/extend}}
