{{#extend "main"}}
	{{#content "body"}}
		<div class="banner" style="background-image: url(/images/banner-feet.png);">
			<div class="wrapped">
				<div class="row">
					<div class="col-12 sm-col-9 md-col-6">
						<h1>Removing corns & calluses</h1>
						<p>Most people suffer from corns, calluses or verrucas at some point in their life. They're unsightly and can make walking uncomfortable, but they don't have to be permanent. Handsworth Chiropody Clinic has a range of treatments for callus and corn removal.</p>

						<a href="/contact-us.html" class="btn">Contact us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapped">
			<main role="main">
				<div class="row gutter">
					<div class="col-12 md-col-8">
						<div class="content-block col-12">
							<h2>The right treatment for you</h2>
							<p>If you need corns or calluses removed, make an appointment. We'll talk through your options, from safe removal via scalpel to medicines and supportive pads.</p>
						</div>
						<div class="row gutter content-block">
							<div class="col-12 md-col-6">
								<h2>Verruca freezing</h2>
								<p>If you have a verruca on your foot, cryosurgery can be a quick and effective treatment. Put simply, it means that we freeze your verruca with a very cold spray. A temporary blister will form, and then your verruca will drop off within a few days. It's not as scary as it sounds, call us.</p>
							</div>
							<div class="col-12 md-col-6">
								<h2>Chiropody expertise</h2>
								<p>We have the experience that you need. With over 15 years' experience, our chiropodist has seen and treated it all. He'll put you at ease, and explain everything in clear, simple terms. Talk to us today, we're here to help you and your feet.</p>
							</div>
						</div>
					</div>

					<aside class="col-12 md-col-4">
						{{>contact-box}}
						{{>opening-times}}
						{{>find-us}}
					</aside>

				</div>
			</main>
		</div>
	{{/content}}
{{/extend}}
