{{#extend "main"}}
	{{#content "body"}}
		<div class="banner" style="background-image: url(/images/banner-feet.png);">
			<div class="wrapped">
				<div class="row">
					<div class="col-12 sm-col-9 md-col-6">
						<h1>Diabetic foot care</h1>
						<p>Ultrices parturient aliquet mus a aliquet habitant at fermentum dolor ligula nec lobortis tristique viverra platea. Condimentum eu a est cum etiam parturient ut.</p>

						<a href="/contact-us.html" class="btn">Contact us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapped">
			<main role="main">
				<div class="row gutter">
					<div class="col-12 md-col-8">
						<div class="content-block col-12">
							<h2>Title</h2>
							<p>Ultrices parturient aliquet mus a aliquet habitant at fermentum dolor ligula nec lobortis tristique viverra platea. Condimentum eu a est cum etiam parturient ut.</p>
						</div>
						<div class="row gutter content-block">
							<div class="col-12 md-col-6">
								<h2>Title</h2>
								<p>Ultrices parturient aliquet mus a aliquet habitant at fermentum dolor ligula nec lobortis tristique viverra platea. Condimentum eu a est cum etiam parturient ut.</p>
							</div>
							<div class="col-12 md-col-6">
								<h2>Title</h2>
								<p>Ultrices parturient aliquet mus a aliquet habitant at fermentum dolor ligula nec lobortis tristique viverra platea. Condimentum eu a est cum etiam parturient ut.</p>
							</div>
						</div>
					</div>

					<aside class="col-12 md-col-4">
						{{>contact-box}}
						{{>opening-times}}
						{{>find-us}}
					</aside>

				</div>
			</main>
		</div>
	{{/content}}
{{/extend}}
