{{#extend "main"}}
	{{#content "body"}}
		<div class="banner" style="background-image: url(/images/banner-feet.png);">
			<div class="wrapped">
				<div class="row">
					<div class="col-12 sm-col-9 md-col-6">
						<h1>Treating foot pain and heel pain</h1>
						<p>Do you suffer from foot or heel pain? Because so much pressure is put on our feet, it can quickly become agonising. Handsworth Chiropody Clinic are here to help. We have effective yet inexpensive treatments to help reduce the pain.</p>

						<a href="/contact-us.html" class="btn">Contact us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapped">
			<main role="main">
				<div class="row gutter">
					<div class="col-12 md-col-8">
						<div class="content-block col-12">
							<h2>Treating cracked skin on your feet</h2>
							<p>Cracked heels can result from infection or dermatitis. In severe cases they can lead to a serious infection. We'll remove dead skin, and provide antibiotics if required.</p>
						</div>
						<div class="row gutter content-block">
							<div class="col-12 md-col-6">
								<h2>Flat feet</h2>
								<p>Flat feet, also known as fallen arches, occur when the arch of the foot collapses. This means that all of your foot contacts with the floor. This can create pain and excessive wear and tear. We'll advise you on how to compensate for your flat feet, including shoe adaptation and orthotics.</p>
							</div>
							<div class="col-12 md-col-6">
								<h2>Painful heel</h2>
								<p>Commonly known as policeman’s heel, we can deal with most forms of heel pain.</p>
								<p>Please <a href="/contact-us.html">contact the clinic</a> for further details.</p>
							</div>
						</div>
					</div>

					<aside class="col-12 md-col-4">
						{{>contact-box}}
						{{>opening-times}}
						{{>find-us}}
					</aside>

				</div>
			</main>
		</div>
	{{/content}}
{{/extend}}
