{{#extend "main"}}
	{{#content "body"}}
		<div class="banner" style="background-image: url(/images/banner-feet.png);">
			<div class="wrapped">
				<div class="row">
					<div class="col-12 sm-col-9 md-col-6">
						<h1>We offer home visits</h1>
						<p>What do you look for in a chiropodist? If you want one that’s highly experienced and friendly, call Handsworth Chiropody Clinic. We provide a full range of treatments from nail cutting, to anti-fungal treatments and verruca freezing.</p>

						<a href="/contact-us.html" class="btn">Contact us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapped">
			<main role="main">
				<div class="row gutter">
					<div class="col-12 md-col-8">
						<div class="content-block col-12">
							<h2>Find it difficult to get into a surgery</h2>
							<p>Do you find it hard to get to a surgery? Would it be more convenient for someone to come to the comfort of your own home?</p>
							<p>Here at Handsworth Chiropody Clinic in Sheffield, we understand the importance of having the option of having a doctor to visit you at home. We have a highly trained and well established chiropodists that can visit you at home. We can arrange home visits for the elderly, housebound and disabled 5 days a week.</p>
							<p>For further information or if you want to discuss your specific needs, call to surgery today on 0114 243 6081 to see how we can help you today.</p>
						</div>
					</div>

					<aside class="col-12 md-col-4">
						{{>contact-box}}
						{{>opening-times}}
						{{>find-us}}
					</aside>

				</div>
			</main>
		</div>
	{{/content}}
{{/extend}}
