{{#extend "main"}}
	{{#content "body"}}
		<div class="banner" style="background-image: url(/images/banner-feet.png);">
			<div class="wrapped">
				<div class="row">
					<div class="col-12 sm-col-9 md-col-6">
						<h1>Foot treatments</h1>
						<p>From your local chiropodist in Sheffield, whatever the problem, we will be sure to help...
							<ul>
								<li>Foot & heel pain</li>
								<li>Fungal infections</li>
								<li>Nail surgery</li>
								<li>Ingrowing toenails</li>
								<li>Corns, calluses & verrucas</li>
								<li>Nail cutting</li>
							</ul>
						</p>

						<a href="/contact-us.html" class="btn">Contact us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapped">
			<main role="main">
				<div class="row gutter">
					<div class="col-12">
						{{>service-list}}
					</div>

					<div class="col-12 md-col-8">
						<h2>Reviews</h2>
						<div class="col-10">
							<blockquote>
								"What a stroke of luck, I phoned the clinic explained how much pain I was in and they fitted me in that morning. The treatment was excellent, pain gone."
								<footer>- Susan Rutkowski</footer>
							</blockquote>
						</div>

						<h2>FAQs</h2>

						<div class="accordion-list">
							<button class="accordion">How soon can I get an appointment? </button>
							<div class="panel">
								<p>Give yourself a week or 2 if its a non emergency. Call us in the eventuality of cancellations which can happen. We also offer 48 hour emergency service.</p>
							</div>

							<button class="accordion">Will it hurt?</button>
							<div class="panel">
								<p>Chiropody is a medical profession in its own right and like any medical professions certain procedure might be uncomfortable however most patients experience very little or no discomfort during treatment.</p>
							</div>

							<button class="accordion">Will I have to return for further treatment?</button>
							<div class="panel">
								<p>Dependant on the condition that the patients has presented however here at Handsworth Chiropody Clinic we do not pressure anybody to follow up unless they want to.</p>
							</div>
						</div>
					</div>

					<aside class="col-12 md-col-4">
						{{>opening-times}}
						{{>find-us}}
					</aside>


				</div>
			</main>
		</div>
	{{/content}}
{{/extend}}
