{{#extend "main"}}
	{{#content "body"}}
		<div class="banner" style="background-image: url(/images/banner-feet.png);">
			<div class="wrapped">
				<div class="row">
					<div class="col-12 sm-col-9 md-col-6">
						<h1>Ingrowing toenail treatment</h1>
						<p>Do you suffer from an ingrowing toenail? It's a painful condition that will only get worse if untreated. The sooner an ingrown toenail is treated, the better. It can prevent infection spreading, and reduce the toe pain. Call Handsworth Chiropody Clinic for more information.</p>

						<a href="/contact-us.html" class="btn">Contact us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapped">
			<main role="main">
				<div class="row gutter">
					<div class="col-12 md-col-8">
						<div class="content-block col-12">
							<h2>Symptoms of ingrowing toenails</h2>
							<p>The skin around your toe will become red and inflamed and walking may become painful. In severe cases the toe may swell and there will be a discharge of pus. Call us if you have these symptoms.</p>
						</div>
						<div class="row gutter content-block">
							<div class="col-12 md-col-6">
								<h2>Toenail infections</h2>
								<p>Toenail infection is a common side-effect of an ingrowing toenail. It can cause green or yellow pus to seep from the side of the nail, or to collect under the skin. In these instances the complaint needs to be addressed immediately and this can be treated in this clinic using local anaesthetic if necessary. Permanent removal of the full or partial nail plate is also available if the patient so wishes.</p>
							</div>
							<div class="col-12 md-col-6">
								<h2>Ingrown toenail causes</h2>
								<p>There are simple steps to minimise the risk of having an ingrowing toenail. Don't wear shoes that are too tight, and clean and air your feet regularly. Cutting your toenails in a round pattern can also be a contributing factor. Cut them straight across.</p>
							</div>
						</div>
					</div>

					<aside class="col-12 md-col-4">
						{{>contact-box}}
						{{>opening-times}}
						{{>find-us}}
					</aside>

				</div>
			</main>
		</div>
	{{/content}}
{{/extend}}
