{{#extend "main"}}
	{{#content "body"}}
		<div class="banner" style="background-image: url(/images/banner-feet.png);">
			<div class="wrapped">
				<div class="row">
					<div class="col-12 sm-col-9 md-col-6">
						<h1>Nail cutting by the professionals</h1>
						<p>Do you find cutting nails harder than it used to be? You can still have healthy nails, even if you're elderly or have mobility problems. Handsworth Chiropody Clinic can cut your nails for you. It's a thorough and friendly nail maintenance service.</p>

						<a href="/contact-us.html" class="btn">Contact us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapped">
			<main role="main">
				<div class="row gutter">
					<div class="col-12 md-col-8">
						<div class="content-block col-12">
							<h2>All chiropody services, big and small</h2>
							<p>We're not just here for the big services, like toenail surgery, we're just as happy to help with the little things like nail clipping. You'll still receive the great service we're famous for.</p>
						</div>
						<div class="row gutter content-block">
							<div class="col-12 md-col-6">
								<h2>Visiting chiropody</h2>
								<p>If you're elderly or disabled, you don't have to come to Handsworth for nail cutting or chiropody services. We're happy to come to you. We can visit clients in Darnall, Attercliffe, Gleadless, Handsworth, Hackenthorpe, Intake, Birley and the Manor. Just call us.</p>
							</div>
							<div class="col-12 md-col-6">
								<h2>Expert advice</h2>
								<p>Are you worried about your feet? Where do you turn to for advice? The internet can be misleading. Talk to the experts. We're happy to discuss any foot problems that you may have, over the phone. Call our friendly and professional team today.</p>
							</div>
						</div>
					</div>

					<aside class="col-12 md-col-4">
						{{>contact-box}}
						{{>opening-times}}
						{{>find-us}}
					</aside>

				</div>
			</main>
		</div>
	{{/content}}
{{/extend}}
