{{#extend "main"}}
	{{#content "body"}}
		<div class="banner" style="background-image: url(/images/banner-feet.png);">
			<div class="wrapped">
				<div class="row">
					<div class="col-12 sm-col-9 md-col-6">
						<h1>Nail surgery</h1>
						<p>If a condition such as an ingrowing toenail has not been treated quickly enough, toenail removal may be the only option. It's a common procedure and will be carried out in the Handsworth Chiropody Clinic. We're happy to discuss it with you on 0114 243 6081.</p>

						<a href="/contact-us.html" class="btn">Contact us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapped">
			<main role="main">
				<div class="row gutter">
					<div class="col-12 md-col-8">
						<div class="content-block col-12">
							<h2>Operations under anaesthetic</h2>
							<p>We are trained and licensed to carry out nail surgery under local anaesthetic. It's quick and is nothing for you to worry about.</p>
						</div>
						<div class="row gutter content-block">
							<div class="col-12 md-col-6">
								<h2>Nail avulsion</h2>
								<p>Partial nail avulsion, or removal, is effective for the vast majority of ingrowing toenail cases. If the nail is particularly embedded, you may require total nail avulsion. Both are safe and carried out with local anaesthetic. There are no long term side effects from this surgery.</p>
							</div>
							<div class="col-12 md-col-6">
								<h2>Aftercare</h2>
								<p>After nail surgery has been completed, and any infection removed, you'll be left with an indentation where your nail was. This will not be painful, and your toe will function as normal. We will bandage your toe, and recommend that you keep it elevated for 1-2 days.</p>
							</div>
						</div>
					</div>

					<aside class="col-12 md-col-4">
						{{>contact-box}}
						{{>opening-times}}
						{{>find-us}}
					</aside>

				</div>
			</main>
		</div>
	{{/content}}
{{/extend}}
