{{#extend "main"}}
	{{#content "body"}}
		<div class="banner" style="background-image: url(/images/banner-treatment.jpg);">
			<div class="wrapped">
				<div class="row">
					<div class="col-12 sm-col-9 md-col-6">
						<h1>Complete chiropody treatments in Sheffield</h1>
						<p>What do you look for in a chiropodist? If you want one that’s highly experienced and friendly, call Handsworth Chiropody Clinic. We provide a full range of treatments from nail cutting, to anti-fungal treatments and verruca freezing.</p>

						<a href="/contact-us.html" class="btn">Contact us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapped">
			<main role="main">
				<div class="row gutter">
					<div class="col-12 md-col-8">
						<div class="content-block col-12">
							<h2>Looking after your feet</h2>
							<p>Do you take your feet for granted? They put in more work than any other part of your body, and when they go wrong it can be painful. Don’t worry, we’ll help keep your feet in perfect condition.</p>
						</div>
						<div class="row gutter content-block">
							<div class="col-12 md-col-6">
								<h2>Convenient treatments</h2>
								<p>We believe in giving the customer just what they want, not inconveniencing them. That’s why we offer late opening hours, and have free on-site parking. We may even be able to visit you, call us for more details.</p>
							</div>
							<div class="col-12 md-col-6">
								<h2>Westfield approved</h2>
								<p>Westfield Health is a leading provider of health insurance, and based here in Sheffield. You may be covered privately, or by your employer. Our foot treatments are Westfield Health approved.</p>
							</div>
						</div>
					</div>

					<aside class="col-12 md-col-4">
						{{>contact-box}}
						{{>opening-times}}
						{{>find-us}}
					</aside>

				</div>
			</main>
		</div>
	{{/content}}
{{/extend}}
