<div class="find-us aside-item">
    <h4>How to find us</h4>
    <p>We’re on the main bus route, located just off the Parkway on the Handsworth Road.</p>
    <p><a href="">View directions</a></p>

    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 53.381934, lng: -1.3994375};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGU-LCDIDxQ47TqrkKF4cQ_g-FhlzNzJU&callback=initMap">
    </script>
</div>
