<footer>
	<div class="wrapped">
		<div class="flex-row">
		<p>Copyright © Handsworth Chiropody Clinic</p>

			<div class="flex-right">
				<p>Handsworth Chiropody Clinic, 51 Handsworth Road<br />Handsworth, Sheffield, S9 4AA<br />0114 243 6081</p>
			</div> 
		</div>
	</div>
</footer>
