<div class="header-wrapper">
	<div class="wrapped">
		<header>
			<a href="/"><img class="logo" src="/images/logo.png" alt="Handsworth Chiropody Clinic" /></a>

			<div class="right-items flex-col flex-wrap flex-center-self-v">
				<div class="tel">
					<i class="fa fa-phone" aria-hidden="true"></i> 0114 243 6081
				</div>
				{{!--<nav class="main-menu flex-center-self-v">--}}
				<nav class="main-menu">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/treatments.html">Treatments</a>
							<ul>
								<li><a href="/corns-calluses.html">Corns & calluses</a></li>
								<li><a href="/verrucas.html">Verrucas</a></li>
								<li><a href="/ingrowing-toenails.html">Ingrowing toenails</a></li>
								<li><a href="/nail-cutting.html">Nail cutting</a></li>
								<li><a href="/fungal-infections.html">Fungal infections</a></li>
								<li><a href="/foot-heel-pain.html">Foot & heel pain</a></li>
								<li><a href="/nail-surgery.html">Nail surgery</a></li>
								<li><a href="/diabetic-foot-care.html">Diabetic foot care</a></li>
								<li><a href="/home-visits.html">Home visits</a></li>
							</ul>
						</li>
						<li><a href="/about-us.html">About Us</a></li>
						<li><a href="/contact-us.html">Contact</a></li>
					</ul>
				</nav>
			</nav>
		</header>
	</div>
</div>
