<div class="opening-times aside-item">
    <h4>Opening times</h4>
    <div class="flex-row flex-wrap">
        <div class="col-3">
            <p>Mon</p>
        </div>
        <div class="col-9">
            <p>10:00 - 6:00</p>
        </div>
        <div class="col-3">
            <p>Tue</p>
        </div>
        <div class="col-9">
            <p>9:30 - 6:30</p>
        </div>
        <div class="col-3">
            <p>Wed</p>
        </div>
        <div class="col-9">
            <p>9:30 - 6:30</p>
        </div>
        <div class="col-3">
            <p>Thur</p>
        </div>
         <div class="col-9">
            <p>10:00 - 7:00</p>
        </div>
        <div class="col-3">
            <p>Fri</p>
        </div>
        <div class="col-9">
            <p>9:30 - 2:00</p>
        </div>
    </div>
</div>