<div class="service-list flex-row flex-wrap">
    <ul class="collist row-1 xs-row-1 sm-row-2 md-row-3 gutter">
        <li>
            <a href="/foot-heel-pain.html" class="col-12 md-col-4" style="background-image: url(/images/foot-heel-pain.png);">
                <h4>Foot & Heel Pain</h4>
                <p>Do you suffer from foot or heel pain?</p>
            </a>
        </li>
        <li>
            <a href="/fungal-infections.html" class="col-12 md-col-4">
                <h4>Fungal Infections</h4>
                <p>Catching a fungal infection early can save it spreading to other areas of your feet.</p>
            </a>
        </li>
        <li>
            <a href="/corns-calluses.html" class="col-12 md-col-4 gold">
                <h4>Corns & Calluses</h4>
                <p>Can be very uncomfortable and can make walking painful, but they don't have to be permanent.</p>
            </a>
        </li>
        <li>
            <a href="/ingrowing-toenails.html" class="col-12 md-col-4 gold">
                <h4>Ingrowing Toenails</h4>
                <p>The sooner this is treated, the better. We're also licensed to carry out nail surgery under local anaesthetic.</p>
            </a>
        </li>
        <li>
            <a href="/nail-cutting.html" class="col-12 md-col-4" style="background-image: url(/images/nail-cutting.png); background-size: cover;">
                <h4>Nail Cutting</h4>
                <p>You can still have healthy<br /> nails, even if you're elderly<br /> or have mobility problems.</p>
            </a>
        </li>
        <li>
            <a href="/verrucas.html" class="col-12 md-col-4">
                <h4>Verrucas & Other Treatments</h4>
                <p>Please speak to the practitioner about and other treatment.</p>
            </a>
        </li>
    </ul>
</div>
