<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Foot treatments in Sheffield by Handsworth Chiropody Clinic</title>
	<meta name="description" content="Handsworth Chiropody Clinic provides a complete range of foot treatments at our foot clinic in Handsworth. For a chiropodist in Sheffield, call 0114 243 6081" />
	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal-default-theme.min.css">
	<link rel="stylesheet" href="/styles.min.css">
	<!--[if lte IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	{{>header}}
		{{#block "body"}}{{/block}}
	{{>footer}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.js"></script>
	<script src="/scripts.min.js"></script>
</body>
</html>
