*, :before, :after{
	box-sizing: border-box;
}
/*
html{
	//
}*/

body{
	background-color: $body-background;
	background-image: url(/images/banner-feet.png);
	background-repeat: no-repeat;
	background-position: center 100px;
	background-repeat: no-repeat;
	/*background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/pw_maze_white.png); // http://subtlepatterns.com/maze-white/*/
	color: $grey;
	font-family: $primary-font;
	-webkit-font-smoothing: antialiased; // standardise font appearance between OS'
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	overflow-x: hidden; // hide horizontal scrollbar caused by .wrapped
	letter-spacing: -1px;

	@include below(sm) {
		background: none;
	}
}

.wrapped{
	max-width: ($site-wrapper-width + ($wrapper-padding-width * 2));
	margin: 0 auto;
	@include below($site-wrapper-width + ($wrapper-padding-width * 4)){
		padding-left: $wrapper-padding-width;
		padding-right: $wrapper-padding-width;
	}
}
