// http://www.network-science.de/ascii/

// general
$site-wrapper-width: 960px; // 960, 1080, 1200 recommended
$wrapper-padding-width: 15px;

$spacer-xs: 5px;
$spacer-sm:  10px;
$spacer:    15px;
$spacer-lg:  20px;
$spacer-xl: 25px;

$gutter: $spacer-xl;

// breakpoints
$breakpoints: (
	"xs": 350px,  // older smartphones
	"sm": 480px,  // newer smartphones
	"md": 768px,  // tablets and old laptops
	"lg": 1024px, // new laptops and small monitors
	"xl": 1440px  // medium+ sized monitors
);

// colours - http://chir.ag/projects/name-that-color
$mariner:     #306BCF;
$mineshaft:   #222222;
$blue: #043890;
$gold: #DCC88B;
$grey: #747474;

$body-background: #fff;

// fonts
$primary-font: "Rubik", sans-serif;

// type
$base-font-size: 18px;
